---
layout: default
css: ['sidebar-post-nav.css']
---
{% include jumbotron.html %}
<article class="post container" itemscope itemtype="http://schema.org/BlogPosting">

    <div class="row">

        {% if page.no-post-nav %}
        <div class="col-md-12 markdown-body">

            {{ content }}

            <!-- 评论 -->
            {% include disqus-comments.html %}
        </div>
        {% else %}
        <div class="col-md-8 markdown-body">

            {{ content }}

            <!-- 评论 -->
            {% include disqus-comments.html %}
        </div>

        <!-- 文章目录 -->
        <div class="col-md-4">
            {% include sidebar-post-nav.html %}
        </div>
        {% endif %}

    </div>

</article>

<script>
    // 初始化 FancyBox 绑定
    Fancybox.bind("[data-fancybox='gallery']", {
        // 自定义选项开始
        Thumbs: {
            showOnStart: false, // 在开始时隐藏缩略图
        },
        Toolbar: {
            display: {
                left: [
                    "infobar", // 左侧显示信息栏
                ],
                middle: [], // 中间无内容显示
                right: [
                    "slideshow", // 右侧显示幻灯片按钮
                    "download", // 右侧显示下载按钮
                    "thumbs", // 右侧显示缩略图按钮
                    "close", // 右侧显示关闭按钮
                ],
            },
        },
    });

    // 给图片加上 data-fancybox 属性
    // 在页面加载完成后执行函数
    $(document).ready(function () {
        // 找到所有带有 .post-content 类的元素下的 img 元素
        $(".markdown-body img").each(function () {
            // 获取当前 img 元素的 src 和 alt 属性值
            var imgSrc = $(this).attr("src");
            var imgAlt = $(this).attr("alt");

            // 创建一个 a 元素，并设置 href、title 和 data-fancybox 属性值
            var $a = $(
                '<a href="' +
                imgSrc +
                '" title="' +
                imgAlt +
                '" data-fancybox="gallery"></a>'
            );

            // 将当前 img 元素包裹在创建的 a 元素中
            $(this).wrap($a);

            // 如果 img 元素有 alt 属性，则将创建的 a 元素的 title 属性值设置为 img 元素的 alt 属性值
            if (imgAlt) {
                $a.attr("title", imgAlt);
            }
        });
    });
</script>